---
import SiteLayout from "../layouts/SiteLayout.astro";
---

<SiteLayout
  title="Lennox C. Charles Blog"
  description="Learn about web development, indie hacking, open source and my personal studies."
>
  <main></main>
</SiteLayout>
