---
import BaseHead from '../components/BaseHead.astro'
import {SITE_TITLE, SITE_DESCRIPTION} from '../config'
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="text-gray-700 bg-slate-300">
		<h1>Astro</h1>
	</body>
</html>
