---
import SiteLayout from "../layouts/SiteLayout.astro";
---

<SiteLayout>
  <main class="mx-auto pb-20 px-6 sm:px-6 md:px-8 xl:px-12 lg:max-w-3xl">
    <h1 class="text-4xl my-6 font-extrabold">My Services</h1>

    <section class="grid grid-cols-1 gap-3">
      <div class="p-4">
        <h2 class="text-2xl font-bold m-1 tracking-tight">
          Web Design & Development
        </h2>
        <p class="m-1 text-lg mt-2">I can help</p>
      </div>

      <div class="p-4">
        <h2 class="text-2xl font-bold m-1 tracking-tight">
          Application Programmable Interfaces (APIs)
        </h2>
        <p class="m-1 text-lg mt-2">I can help</p>
      </div>

      <div class="p-4">
        <h2 class="text-2xl font-bold m-1 tracking-tight">
          Software Development Kits (SDKs)
        </h2>
        <p class="m-1 text-lg mt-2">I can help</p>
      </div>

      <div class="p-4">
        <h2 class="text-2xl font-bold m-1 tracking-tight">Web Tools</h2>
        <p class="m-1 text-lg mt-2">I can help</p>
      </div>

      <div class="p-4">
        <h2 class="text-2xl font-bold m-1 tracking-tight">Technical Writing</h2>
        <p class="m-1 text-lg mt-2">I can help</p>
      </div>

      <a
        class="border w-fit rounded-md p-3 no-underline hover:text-purple-100 hover:border-purple-100 focus:text-purple-100 focus:border-purple-100"
        href="mailto:lennyaiko17@gmail.com">Book a consult</a
      >
    </section>
  </main>
</SiteLayout>
