---
import SiteLayout from "../layouts/SiteLayout.astro";
---

<SiteLayout>
  <main class="mx-auto pb-20 px-6 sm:px-6 md:px-8 xl:px-12 lg:max-w-3xl">
    <h1 class="text-4xl my-6 font-extrabold">My Services</h1>

    <section class="grid grid-cols-1 gap-3">
      <div class="p-4">
        <h2 class="text-2xl font-bold m-1 tracking-tight">
          Web Design & Development
        </h2>
        <p class="m-1 text-lg mt-2">
          I design and develop stunning and minimal full-stack web applications
          that help businesses and individuals grow. My services also include
          SEO, web application maintenance, and web content creation.
        </p>
      </div>

      <div class="p-4">
        <h2 class="text-2xl font-bold m-1 tracking-tight">
          Application Programmable Interfaces (APIs)
        </h2>
        <p class="m-1 text-lg mt-2">
          APIs are crucial for expanding the functionality of your service,
          whether you are a business or an individual. With my knowledge of
          APIs, I can help you scale quickly and securely.
        </p>
      </div>

      <div class="p-4">
        <h2 class="text-2xl font-bold m-1 tracking-tight">
          Software Development Kits (SDKs)
        </h2>
        <p class="m-1 text-lg mt-2">
          Does your service communicate with developers? You can reduce their
          development time and make it easier for them to integrate with your
          service. I create battle-tested SDKs that can help you increase
          adoption of your service.
        </p>
      </div>

      <div class="p-4">
        <h2 class="text-2xl font-bold m-1 tracking-tight">Web Tools</h2>
        <p class="m-1 text-lg mt-2">
          Do you need a custom tool to improve a particular process in your
          service? If so, you're in the right place! I can develop lightweight
          and easy-to-use tools that are tailored to your specific needs.
        </p>
      </div>

      <div class="p-4">
        <h2 class="text-2xl font-bold m-1 tracking-tight">Technical Writing</h2>
        <p class="m-1 text-lg mt-2">
          Clear and informative documentation, articles, and other information
          materials can help people learn more about your service or product and
          get started using it quickly and easily.
        </p>
      </div>

      <a
        class="border w-fit rounded-md p-3 m-2 no-underline hover:text-purple-100 hover:border-purple-100 focus:text-purple-100 focus:border-purple-100"
        href="mailto:lennyaiko17@gmail.com">Book a consult</a
      >
    </section>
  </main>
</SiteLayout>
