---
import Socials from "./Socials.astro";
---

<footer class="text-center p-4 flex flex-col items-center mb-5">
  <a
    href="https://twitter.com/c_lennyx"
    target="_blank"
    class="underline text-gray-200 font-semibold">@c_lennyx</a
  >
  <p>
    <span
      >Built with
      <a class="text-purple-100" href="https://astro.build" target="_blank"
        >Astro</a
      >
    </span> &bull;
    <span
      >Styling with
      <a class="text-purple-100" href="https://tailwindcss.com" target="_blank"
        >Tailwind CSS</a
      >
    </span> &bull;
    <span
      >Hosted on
      <a class="text-purple-100" href="https://render.com" target="_blank"
        >Render</a
      >
    </span>
  </p>
  <section class="mt-4">
    <Socials />
  </section>
</footer>
