---
---

<header class="text-center text-gray-200 my-4 lg:pt-8">

    <h2 class="lg:text-6xl text-3xl font-extrabold">
        <a href="/">Lennox <span class="text-purple-200">C.</span> Charles</a>
    </h2>
    <h3 class="lg:text-xl mb-2">Hack. Develop. Write</h3>

</header>