---
import NavLink from "./NavLink.astro";
---

<div class="text-center text-gray-200 mb-3 sm:mb-0">
  <nav class="space-x-4 text-base">
    <NavLink href="/">Home</NavLink>
    <NavLink href="/blog">Blog</NavLink>
    <NavLink href="/articles">Articles</NavLink>
    <NavLink href="/services">Services</NavLink>
    <NavLink href="/projects">Projects</NavLink>
  </nav>
</div>
