---
import { getCollection } from "astro:content";
import ProjectLink from "./ProjectLink.astro";

const projects = await getCollection("projects");
---

<aside class="lg:space-y-14 space-y-6 lg:w-4/5 sm:w-10/12 sm:mt-12">
  <h2 class="lg:text-3xl text:2xl font-extrabold">
    My side projects. <br /><span class="text-sm">
      <!-- Other projects are <a href="/projects" class="underline">here</a> -->
       Other projects are <a href="https://lnkt.dev/naija" class="underline"
        >here</a
      >
    </span>
  </h2>
  {
    projects.map((project) => (
      <ProjectLink
        title={project.data.title}
        description={project.data.description}
        link={project.data.link}
        cta={project.data.cta}
      />
    ))
  }
</aside>
